@page
@model EDTProjectM1.DeleteSeance

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de vouloir supprimer la séance ?</h3>
<div>
    <h4>Seance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.UE.NomComplet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.UE.NomComplet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.TypeSeance.Intitule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.TypeSeance.Intitule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.Groupe.NomGroupe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.Groupe.NomGroupe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.Salle.NomSalleBatiment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.Salle.NomSalleBatiment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.DateDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.DateDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.Duree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.Duree)  h
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Seance.ID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retourner à la liste des Séances</a>
    </form>
</div>
