@page
@model EDTProjectM1.DetailsSeance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Seance.UE.NomComplet)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Seance.TypeSeance.Intitule)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Seance.Groupe.NomGroupe)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Seance.DateDebut)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Seance.Duree)h
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Seance.Salle.NomSalleBatiment)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Seance.ID">Modifier</a> |
    <a asp-page="./Index">Retourner à la liste des Séances</a>
</div>
