@page
@model IndexModel
@{
    ViewData["Title"] = "Edit";
}

@section Header{
    <link href='~/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='~/lib/fullcalendar/timegrid/main.css' rel='stylesheet' />

    <script src='~/lib/moment/main.js'></script>
    <script src='~/lib/fullcalendar/core/main.js'></script>
    <script src='~/lib/fullcalendar/daygrid/main.js'></script>
    <script src='~/lib/fullcalendar/timegrid/main.js'></script>
    <script src='~/lib/fullcalendar/moment/main.js'></script>
    <script src='~/lib/fullcalendar/interaction/main.js'></script>

    <script>
        var calendarEl, calendar;
        document.addEventListener('DOMContentLoaded', function () {
            calendarEl = document.getElementById('calendar');

            // Génération d'un calendrier
            calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['timeGrid', 'interaction', 'moment'],
                defaultView: 'timeGridWeek',
                locale: 'fr',
                contentHeight: "auto",
                height: "auto",
                firstDay: 1,
                allDaySlot: false,
                minTime: "08:00:00",
                maxTime: "21:00:00",
                weekends: false,
                nowIndicator: true,
                @if (User.Identity.IsAuthenticated && User.IsInRole("Gestionnaire"))
                {
                    <text>
                    selectable: true,
                    selectAllow: function (selectInfo) {
                        var momentStart = FullCalendarMoment.toMoment(selectInfo.start, calendar);
                        var momentEnd = FullCalendarMoment.toMoment(selectInfo.end, calendar);
                        var duration = FullCalendarMoment.toDuration(momentEnd.diff(momentStart));
                        return (duration.hours() @Html.Raw("<") 4 || (duration.hours() == 4 && duration.minutes() == 0));
                    },
                    select: function (info) {
                        selectHandler(info)
                    },
                    eventClick: function (info) {
                        clickHandler(info)
                    }
                    </text>  
                }
                
            });

            // Chargement de tous les événements
            loadAll(calendar);
        });

        // Fonction permettant de charger tous les séances existantes
        function loadAll(calendar) {
            var currentUrl = window.location.href;
            @foreach (var item in Model.Seances)
            {
                <text>
                    calendar.addEvent({
                        title: '@Html.Raw(@item.TitleFullCalendarFormat)',
                        start: '@item.StartDateFullCalendarFormat',
                        end: '@item.EndDateFullCalendarFormat',
                        idSeance: '@item.ID'
                        });
                </text>
            }
            // Affichage du calendrier
            calendar.render();
        }

        // Handler lors de la sélection d'une date
        function selectHandler(info) {
            var momentStart = FullCalendarMoment.toMoment(info.start, calendar);
            var momentEnd = FullCalendarMoment.toMoment(info.end, calendar);
            var duration = FullCalendarMoment.toDuration(momentEnd.diff(momentStart));
            $('#editSeanceModal').modal('show');

            // Clear de la modal avant remplissage
            clearModalData();

            // Remplissage
            $('#Seance_DateDebut').attr('value', info.startStr.substring(0, 19));
            $('#Seance_Duree').attr('value', duration.hours());
        }

        function clickHandler(info) {
            $('#editSeanceModal').modal('show');

            // Requête ajax pour récupération info séance à partir de l'id
            $.getJSON(`?handler=SeanceById&seanceID=${info.event.extendedProps.idSeance}`, (data) => {
                // Remplissage
                $('#Seance_ID').attr('value', data.id);
                $('#Seance_DateDebut').attr('value', data.dateDebut);
                $('#Seance_Duree').attr('value', data.duree);
                $('#select-ue').attr('value', data.ueId);
                $('#select-groupes').attr('value', data.groupeId);
                $('#Seance_SalleId').attr('value', data.salleId);
                $('#Seance_TypeSeanceId').attr('value', data.typeSeanceId);
            });
        }

        function clearModalData() {
            $('#Seance_ID').attr('value', 0);
            $('#Seance_DateDebut').attr('value', '');
            $('#Seance_Duree').attr('value', '');
            $('#select-ue').attr('value', $("#select-ue option:first").val());
            $('#select-groupes').attr('value', $("#select-groupes option:first").val());
            $('#Seance_SalleId').attr('value', $("#Seance_SalleId option:first").val());
            $('#Seance_TypeSeanceId').attr('value', $("#Seance_TypeSeanceId option:first").val());
        }

    </script>
}

<div class="text-center">
    <h1 class="display-4">Bienvenue, voici l'emploi du temps</h1>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Gestionnaire"))
{
    <div class="alert alert-info col-8" role="alert">
        En tant que Gestionnaire vous pouvez cliquer sur une séance de l'emploi du temps pour editer les informations.
    </div>
}
<!--Div pour affichage de l'edt -->
<div id='calendar'></div>

<!--Modal pour création-->
<div class="modal fade" id="editSeanceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Création séance</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_SeanceEditPartial"/>
            </div>
        </div>
    </div>
</div>