@page
@model EDTProjectM1.IndexGroupes

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des groupes</h1>

<p>
    <a asp-page="Create">Créer nouveau groupe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groupe[0].NomGroupe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groupe[0].UE.NomComplet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Groupe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomGroupe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UE.NomComplet)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Modifier</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Détail</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
