@page
@model EDTProjectM1.IndexSalles

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des salles</h1>

<p>
    <a asp-page="Create">Créer une nouvelle salle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salle[0].NomSalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salle[0].Batiment.NomBatiment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomSalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batiment.NomBatiment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Modifier</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Détail</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
